body {
    font-family: "Inter", sans-serif;
    background-color: #1e1e1e;
    color: white;
    margin: 0;
    padding: 40px;
  }
  
  .playlist-container {
    width: 100%;
    max-width: none;
    margin-left: 100px;
  }
  
  .back-button {
    background: none;
    width: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .back-button img {
    width: 24px;  
    height: auto;
  }
  
  
  .playlist-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .playlist-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background: var(--degradado, linear-gradient(180deg, #5267EE 0%, #C06DFF 100%));
    padding: 20px;
    margin-bottom: 20px;
    width: 454px;
    height: 142px;
    flex-shrink: 0;
  }
  
  .playlist-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1px;
    margin-left: 20px;
  }
  
  .playlist-info h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }
  
  .playlist-info p {
    font-size: 14px;
    margin: 0;
    opacity: 0.9;
  }
  

  
  .emoji-frame img {
    display: block;
    width: 143px;
    height: 127px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--d-9-d-9-d-9, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #2A2A2A);
    padding: 10px;
  }
  